.Navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #161616;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 1rem;
    z-index: 3;
}

.Navbar h1 {
    padding: 0rem;
}

.Navbar button {
    margin-right: 10px;
    background-color: #007bff;
}

.Navbar button:hover {
    background-color: #0056b3;
}